@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

.mainBody {
    width: 50%;
    height: 30%;
    font-family: "Fira Sans", sans-serif;
}

.header {
  text-shadow: 0 0 1rem #fefefe; 
  font-size: 5rem;
  margin: 0;
  color: burlywood;
}

.explain {
  font-size: 2rem;
  color: burlywood;
}

.heading {
  display: flex;
  flex-wrap: wrap;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 1rem #fefefe;
  }
  50% {
    text-shadow: 0 0 1.85rem #ededed;
  }
  100% {
    text-shadow: 0 0 1rem #fefefe;
  }
}
