.mainBody {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(45deg, #f6d200 25%, lightBlue);;
}

.text {
  text-transform: uppercase;
  background: repeating-linear-gradient(45deg, #f6d200, #f6d200 10px, #181617 10px, #181617 20px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 384px;
  margin: 0;
  line-height: .7;
  position: relative;

  padding-top: 15%;
  padding-bottom: 12.6%;
}

@media only screen and (max-width: 600px) {
  .text {
    font-size: 100px;
    padding-top: 71.5%;
    padding-bottom: 71.5%;
  }
}
